.outline-button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
  
    &:hover {
      color:#CF9683;
    }
}
  